@font-face {
	font-family: 'OpenSansRegular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('fonts/OpenSans-Bold-webfont.eot');
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix')
		format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff')
		format('woff'), url('fonts/OpenSans-Bold-webfont.ttf')
		format('truetype'),
		url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'OpenSansBold', sans-serif;
	font-weight: normal;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-family: 'OpenSansRegular', sans-serif;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	background-color: transparent;
}

#mcworkTables figure { margin: 0; text-align: center; width: 240px; overflow: hidden; }

.exlporer-element {
	float: left;
	margin: 0 0.5em 0.5em 0;
}

.exlporer-element a {
	display: block;
}

.exlporer-element figcaption {
	background: #e9e9e9;
	color: #444444;
	padding: 2px;
	height: 30px;
	overflow: hidden;
}

.exlporer-element figcaption:hover {
	background: #444444;
	color: #e9e9e9;
}

.turquoise {
	background: #1ABC9C
}

.green-sea {
	background: #16A085
}

.emerald {
	background: #82bb54
}

.nephritis {
	background: #27AE60
}

.peter-river {
	background: #3498DB
}

.belize-hole {
	background: #2980B9
}

.amethyst {
	background: #9B59B6
}

.wisteria {
	background: #8E44AD
}

.wet-aspahlt {
	background: #34495E
}

.midnight-blue {
	background: #2C3E50
}

.sun-flower {
	background: #F1C40F
}

.orange {
	background: #F39C12
}

.carrot {
	background: #E67E22
}

.pumpkim {
	background: #D35400
}

.alizarin {
	background: #c60f13
}

.pomegranate {
	background: #C0392B
}

.clouds {
	background: #ECF0F1
}

.silver {
	background: #BDC3C7
}

.concrete {
	background: #95A5A6
}

.asbestos {
	background: #7F8C8D
}


.turquoise-color {
	color: #1ABC9C
}

.green-sea-color {
	color: #16A085
}

.emerald-color {
	color: #82bb54
}

.nephritis-color {
	color: #27AE60
}

.peter-river-color {
	color: #3498DB
}

.belize-hole-color {
	color: #2980B9
}

.amethyst-color {
	color: #9B59B6
}

.wisteria-color {
	color: #8E44AD
}

.wet-aspahlt-color {
	color: #34495E
}

.midnight-blue-color {
	color: #2C3E50
}

.sun-flower-color {
	color: #F1C40F
}

.orange-color {
	color: #F39C12
}

.carrot-color {
	color: #E67E22
}

.pumpkim-color {
	color: #D35400
}

.alizarin-color {
	color: #c60f13
}

.pomegranate-color {
	color: #C0392B
}

.clouds-color {
	color: #ECF0F1
}

.silver-color {
	color: #BDC3C7
}

.concrete-color {
	color: #95A5A6
}

.asbestos-color {
	color: #7F8C8D
}

.pdf-color {
	color:#BB0706;
}

.display-block {
	display: block;
}

.row {
	max-width: 100%;
}

form.custom .custom.dropdown {
	background: #ECF0F1;
}

#filescrollarea {
	/*height: 400px;
	overflow-y: scroll;*/
	margin-bottom: 1em;
}

#contentinumUpload {
	height: 200px;
}

/*
.prefix, .postfix {
	height: 3em;
	line-height: 3em;
	
}*/

p.formElement {
	padding: 0.8em 0;
	margin-bottom: 0;
}

p.formElement.elmNoPadd {
	padding-bottom: 0;
}

p.formElement input {
	margin-bottom: 0;
}

p.formElement.error label {
	font-weight: bold;
	color: #E74C3C;
}

p.formElement.valid label {
	font-weight: bold;
	color: #2ECC71;
}

p.formElement.error input {
	border-color: #E74C3C;
}

p.formElement.valid input {
	border-color: #2ECC71;
}

.validation-valid,
.validation-error,
.server-error {
	background: #E74C3C;
	color: #FFFFFF;
	padding: 6px 0 6px 4px;
	display: block;
}

.validation-valid {
	background: #2ECC71;
}

#fileUpload {
	border: 1px #F6F6F6 solid;

}
#fieldwebMediasId {
	padding-bottom: 0;
}

.nopadding {
	padding: 0 !important;
}

.stats,.minitiles {
	margin: 0;
	padding: 0;
}

.stats {
	float: left;
}

.stats>li {
	list-style: none;
	*zoom: 1;
	float: left;
	padding: 10px 15px;
	margin-right: 15px;
}

.stats>li:after {
	content: "";
	display: table;
	clear: both;
}

.stats>li:last-child {
	margin-right: 0;
}

.stats>li i {
	font-size: 36px;
	color: white;
	float: left;
	margin: 0;
}

.stats>li .details {
	*zoom: 1;
	margin-left: 55px;
}

.stats>li .details:after {
	content: "";
	display: table;
	clear: both;
}

.stats>li .details span {
	color: white;
	display: block;
	font-size: 12px;
}

.stats>li .details span.big {
	font-size: 16px;
}

.minitiles {
	float: left;
}

.minitiles>li {
	list-style: none;
	float: left;
	margin-right: 15px;
	padding: 2px 15px;
}

.minitiles>li>a {
	display: block;
	color: white;
	text-decoration: none;
	position: relative;
	text-align: center;
}

.minitiles>li>a i {
	font-size: 36px;
	line-height: 61px;
}

.minitiles>li>a:hover:before {
	content: '';
	position: absolute;
	background: none;
	pointer-events: none;
	border: 3px solid rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.box .box-title {
	*zoom: 1;
	border-bottom: 1px solid #ECF0F1;
	padding: 7px 0 7px 10px;
	margin-top: 20px;
}

.box .box-title:after {
	content: "";
	display: table;
	clear: both;
}

.box .box-content {
	*zoom: 1;
	padding: 20px;
	background: #fff;
}

.box .box-content:after {
	content: "";
	display: table;
	clear: both;
}

.box .box-title h3 {
	float: left;
	margin: 3px 0 3px 0;
	line-height: 24px;
	font-weight: 400;
	color: #34495E;
}

.box .box-title h3 i {
	margin: 0 10px;
}

.box.box-bordered .box-title {
	margin-top: 0;
	border: 2px solid #ECF0F1;
}

.box.box-color .box-title {
	background: #3498DB;
	border: 0 none;
}

.box.box-color .box-title h3 {
	color: white;
}

.box.box-bordered .box-content {
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-color: #ECF0F1;
}

.box.box-bordered.box-color .box-content {
	border-style: solid;
	border-width: 0 2px 2px 2px;
	border-color: #3498DB;
}

input.small.button {
	margin-right: 1em;
	padding-bottom: 0.5625em;
	padding-top: 0.625em;
}

button,.button {
	border-color: #2980B9;
	border-width: 1px;
	-webkit-box-shadow: none;
	box-shadow: none;
	transition: border-color 300ms ease-out 0s;
}

button.alert,.button.alert {
	border-color: #E74C3C;
}

button.success,.button.success {
	border-color: #2ECC71;
}

button.secondary,.button.secondary {
	border-color: #ECF0F1;
}

button.secondary:hover,button.secondary:focus,.button.secondary:hover,.button.secondary:focus
	{
	border-color: #cfd9db;
}

button.success:hover,button.success:focus,.button.success:hover,.button.success:focus
	{
	border-color: #25a25a;
}

button.alert:hover,button.alert:focus,.button.alert:hover,.button.alert:focus
	{
	border-color: #d62c1a;
}